# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development
.env.production

# React/Vite
dist/
build/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/